@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

.card {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);

    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
}

.card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    animation: spin 2.5s linear infinite;
    background: conic-gradient(
            from var(--rotate),
            #5ddcff,
            #4e00c2,
            #3c67e3,
            #4e00c2,
            #5ddcff
    );
    border-radius: inherit;
}

.card::before {
    width: 106%;
    height: 104%;
    z-index: -1;
    top: -2%;
    left: -3%;
}

.card::after {
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.88);
    filter: blur(3.5rem);
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}
