.section {
    width: 100%;
    padding: .5rem 2.5rem;
    border-radius: 10px;
}

.section h1, .section h2, .section h3, .section h4, .section h5, .section h6 {
    margin: 0;
}

.section-tilt {
    border-radius: .5rem;
    padding: 1rem 1.5rem;
}

.section-tilt:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.section-tag {
    font-size: 1.25rem;
    color: #5ddcff;
    font-family: 'Consolas', 'Lucida Console', 'Courier New', monospace;
}

.section-content {
    padding: 0.75rem 0.75rem 1.25rem 2rem;
}