:root {
    font-size: 19px;
    --max-content-width: 48rem;
    --current-header-height: 4rem;
    --header-background: rgba(8, 18, 28, 0.8);
    --accent-color: rgb(0, 250, 125);
    --x: 50%;
    --y: 50%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Ubuntu, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    line-height: 1.5;
    font-weight: 400;
    background-attachment: fixed;
    background-image: radial-gradient(
            circle farthest-side at var(--x, 50%) var(--y, 100%),
            rgba(71, 0, 161, 0.5) 0%,
            rgba(14, 37, 94, 0.5) 9%,
            transparent 18%
    );
    display: flex;
    justify-content: center;
}

#app {
    max-width: var(--max-content-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

a {
    font-weight: 500;
    color: #00a3ff;
    text-decoration: inherit;
}

a svg {
    color: #fff;
    transition: all 250ms ease;
}

a:hover, a:hover svg, a:focus svg {
    color: var(--accent-color);
}

a:has(svg) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 50%;
    transition: all 100ms ease;
}

a:has(svg):hover, a:has(svg):focus {
    outline: 2px solid;
}

h1 {
    font-weight: 700;
    font-size: 2.2em;
    line-height: 1.1;
    letter-spacing: -2px;
}

#intro-headline, h2 {
    position: relative;
    display: inline;
    text-shadow: -1px -1px 0 #555,
    1px -1px 0 #555,
    -1px 1px 0 #555,
    1px 1px 0 #555;
}

#intro-headline:after, h2:after {
    content: "";
    display: block;
    width: 105%;
    left: -2.5%;
    height: 27%;
    background: #7b00e3;
    position: absolute;
    bottom: 13%;
    z-index: -1;
    clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 1.33em 2.2em;
    border-radius: 0;
    color: var(--accent-color);
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    transition: all 250ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

button:before,
button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    outline: 2.5px solid;
    transition: 0.25s;
    transform: translateX(0) translateY(0);
}

button:hover:before {
    transform: translateX(-0.25em) translateY(0.25em);
}

button:hover:after {
    transform: translateX(0.25em) translateY(-0.25em);
}

p {
    margin: 1.5rem 0;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

header {
    display: flex;
    margin: 0;
    justify-content: center;
    width: 100%;
    top: 0;
    position: absolute;
    padding: 3.5rem 1rem 0;
    background: transparent;
    z-index: 999;
}

header.is-sticky {
    position: fixed;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    padding: .75rem 1rem;
    background: var(--header-background);
    animation: slideDown 0.4s ease-out;
}

#header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: var(--max-content-width);
}

#logo-header {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    color: #fff;
}

#logo {
    border: 3px solid #fff;
    border-radius: 5px;
    line-height: 1;
    font-weight: 700;
    font-size: 1.5em;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name {
    display: flex;
    flex-direction: column;
}

#first-name {
    font-size: 1.32rem;
    line-height: 1;
}

#last-name {
    margin-top: -0.1rem;
    margin-left: -0.07rem;
    font-size: 2.3rem;
    line-height: 1;
}

#header-right {
    display: flex;
    align-items: center;
    gap: .5rem
}

#header-right button {
    margin-left: 0.5rem;
}

#intro-headline {
    font-size: 2.75rem;
    color: #fff;
}

#about {
    margin-top: calc(var(--current-header-height) + 3rem);
}

.mono-headline {
    font-family: 'Consolas', 'Lucida Console', 'Courier New', monospace;
    color: #fff;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: -0.04rem;
}

h3 {
    margin: .75rem 0;
    color: rgba(0, 250, 125, .7);
}

h4 {
    font-weight: 500;
    margin: 0;
    font-size: .85rem;
}

footer {
    font-size: 1.15rem;
    padding: 3rem 1.25rem;
}

footer svg {
    display: inline;
    margin-bottom: -4px;
}

.experience {
    margin: 1.5rem 0;
}

.experience-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.experience h3, .experience h4 {
    margin: 0.5rem 0;
}

.experience p {
    width: 100%;
    margin-top: 0.5rem;
}

#mobile-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.desktop-hidden {
    display: none;
}

@media screen and (max-width: 600px) {
    :root {
        font-size: 15px;
    }

    #app {
        padding: 0 1rem;
        width: 100%;
    }

    main {
        padding: 0;
    }

    #header-inner {
        flex-wrap: wrap;
    }

    #logo-header {
        gap: 0.5rem;
    }

    #logo {
        width: 48px;
        height: 48px;
    }

    #name {
        transform: scale(0.85);
    }

    button {
        min-height: 44px;
        padding: 1.25em 2.13em;
    }

    .mobile-hidden {
        display: none;
    }

    .desktop-hidden {
        display: block;
    }

    .mono-headline {
        font-size: 1.75rem;
    }

    #intro-headline {
        font-size: 2.25rem;
    }

    footer {
        padding: 0.57rem 1rem 1.5rem;
    }

    footer > svg {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .mono-headline {
        font-size: 1.75rem;
    }

    .mono-headline:has(.typewriter) {
        font-size: 1.5rem;
    }

    #intro-headline {
        font-size: 2rem;
    }
}